body {
  background: var(--base-100, #f9f9f4);
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.left-decor-bg {
  width: 30.8125rem;
  height: 23.125rem;
  position: absolute;
  left: 0;
  bottom: 6.875rem;
}

.right-decor-bg {
  width: 33.875rem;
  height: 25.4375rem;
  position: absolute;
  right: 0;
  bottom: 6.03125rem;
}

.line-bg {
  width: 100%;

  stroke-width: 1px;
  stroke: var(--base-700, #5b5b56);
  position: absolute;
  right: 0;
  left: 0;

  bottom: 7.625rem;
}

.card {
  display: flex;
  padding: 2rem 2.5rem;
  gap: 1.5rem;

  border-radius: 1.5rem;
  background: var(--light-100, #fff);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(75px);
}

.card h2 {
  color: var(--base-700, #5b5b56);

  font-family: "Plus Jakarta Sans", sans-serif;
  /* margin: 0; */
  padding: 1rem 0rem;

  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card p {
  color: var(--base-800, #393934);

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  display: flex;
  padding: 0.875rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.875rem;
  align-self: stretch;
  padding-left: 3.37rem;

  border-radius: 2.25rem;
  border: 1px solid var(--base-300, #dad9d0);

  /* soft */
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.person-icon,
.lock-icon {
  position: absolute;
  top: 13px;
  left: 17px;
  width: 24px;
}

.btn {
  display: flex;
  padding: 1rem 4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
  width: 100%;
  margin-top: 1.5rem;

  border-radius: 6.25rem;
  border: 1px solid var(--primary-500, #f06623);
  background: var(--primary-500, #f06623);

  color: var(--base-100, #f9f9f4);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn:hover {
  background: var(--primary-600, #e65a1c);
  color: var(--base-100, #f9f9f4);
}

/* dashboard section */

.headline-text {
  margin-bottom: 2.5rem;
}

.foods-list {
  color: #393934;

  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
